.keyboard {
    margin-top: 16px;
    text-align: center;
}

.row {
    margin: 32px 0;
    height: 32px;
}
.key {
    padding: 18px 10px;
    margin: 2px;
    background-color: #939598;
    border-radius: 4px;
    font-weight: bold;
}

.enter, .back {
    background-color: #363636;
}

.i {
    padding: 18px 14px;
}