.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td {
  height: 25px;
  width: 25px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}