.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  color: white;
}

.title {
  color: white;
}

.guess-input {
  margin: 16px;
}

td {
  height: 20px;
  width: 25px;
  padding: 20px;
  border: 2px solid #3a3a3c;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.text {
  transition: 0.5s;
  transform: rotateX(180deg);
  transform-style: preserve-3d;
}

.one-green {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #6aaa64;
}

.one-red {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #363636;
}

.one-yellow {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #b59f3b;
}

.two-green {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #6aaa64;
}

.two-red {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #363636;
}

.two-yellow {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #b59f3b;
}

.three-green {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #6aaa64;
}

.three-red {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #363636;
}

.three-yellow {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #b59f3b;
}

.four-green {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #6aaa64;
}

.four-red {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #363636;
}

.four-yellow {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #b59f3b;
}

.five-green {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #6aaa64;
}

.five-red {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #363636;
}

.five-yellow {
  transition: 1s;
  transform: rotateX(180deg);
	transform-style: preserve-3d;
  background-color: #b59f3b;
}

.bottom-button-container {
  display: flex;
}

.bottom-button {
  margin: 8px;
}

.hide {
  visibility: hidden;
}
